body
  background-color white

  #gui
    background: #FFFFFF
    border 1px solid red
    padding 10px
    margin 10px
    z-index: 9001
    font-size xx-small
    position: absolute

    div
      display inline-block
